<!DOCTYPE html PUBLIC >
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin</title>

  <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/dist/css/mycss.css">
  <script src="/dist/js/myjs.js"></script>
  <script src="/dist/js/canvasjs.min.js"></script>
  <script src="/dist/js/mychart.js"></script>
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
  <!-- jQuery 3 -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="/dist/js/demo.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%include header%>
    <!-- Left side column. contains the logo and sidebar -->
    <%include aside%>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Trang tin tức online
          <small>Quản trị viên</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="/trangchuadmin"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

                <!-- Bảng chính -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Bảng danh sách bình luận</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" onkeyup="myFunctionSP()" id="myInput" placeholder="Tìm">
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover" id="myTable">
                                    <thead>
                                        <tr>
                                          <th>Id</th>
                                          <th>IdUser</th>
                                          <th>IdNews</th>
                                          <th>Date</th>
                                          <th>Content</th>
                                          <th>Xóa tin</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <%for (var i = 0;i<mess.length;i++){%>
                                        <tr>
                                          <td><%=mess[i].idcomment%></td>
                                          <td><%=mess[i].iduser%></td>
                                          <td><%=mess[i].idnews%></td>
                                          <td><%=mess[i].date%></td>   
                                          <td><%=mess[i].content%></td>                             
                                            <td>
                                              <div>
                                                <!-- Button to Open the Modal -->
                                                <span>
                                                <a href="/admin/comment/delete/<%= mess[i].idcomment%>">
                                                  <button type="button"  class="btn btn-danger"><i class="fa fa-trash"></i> Xóa </button>
                                                </a>
                                                </span>
                                          
                                            </div>
                                          </td>
                                        </tr>
                                        <%}%>



                                      </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
      <!-- /.content -->
    </div>
    <%include footer%>
  </div>
    <!-- /.content-wrapper -->
    
</body>

</html>
