<!DOCTYPE html PUBLIC >


<head>
<title>News Magazine</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/layout/styles/layout.css" rel="stylesheet">

<script type="text/javascript" src="/layout/scripts/jquery.min.js"></script>
<!-- Homepage Specific -->
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.timers.1.2.js"></script>
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.galleryview.2.1.1.min.js"></script>
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.galleryview.setup.js"></script>
<!--  Homepage Specific -->
</head>
<body id="top">
<div class="wrapper col0">
  <div id="topline">
    <p>Tel: 0123 456789 | Mail: liemhung@domain.com</p>
    <%if(kt == 0){%>
    <ul>
      <li><a href="/login">Đăng nhập</a></li>
      <li class="last"><a href="/login">Đăng ký</a></li>
    </ul>
    <%}else{%>
      <ul>
        <li><a href="/viewnews/<%= iduser%>"><%= user%></a></li>
        <li><a href="/infor">Đổi mật khẩu</a></li>
        <li class="last"><a href="/exit">Đăng xuất </a></li>
      </ul>
    <%}%>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="header">
    <div class="fl_left">
      <h1><a href="index.html"><strong>N</strong>ews <strong>M</strong>agazine</a></h1>
      <p>Free Website News</p>
    </div>
    <div class="fl_right"><a href="#"><img src="https://s3.amazonaws.com/virginia.webrand.com/virginia/1754/0Mf198Wq6-T/618fc3e965cc94f23b5abbe39ae8137f.jpg?1508910801" style="width: 468px; height: 60px" alt="" /></a></div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="/">Trang chủ</a></li>
        <li><a href="/types/<%= type[0].idtype%>"><%= type[0].name%></a></li>
        <li><a href="/types/<%= type[1].idtype%>"><%= type[1].name%></a></li>
        <li><a href="/types/<%= type[2].idtype%>"><%= type[2].name%></a></li>
        <li class="last"><a href="#">Them</a>
          <ul>
            <li><a href="/types/<%= type[3].idtype%>"><%= type[3].name%></a></li>
            <li><a href="/types/<%= type[4].idtype%>"><%= type[4].name%></a></li>
            <li><a href="/types/<%= type[5].idtype%>"><%= type[5].name%></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="liem">
      <form action="/find" method="post">
        
          <legend>Site Search</legend>
          <input type="text" name="txtfind"   required/>
          <input type="submit" name="go" id="go" value="Tim kiem" />
      
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="featured_slide">
        <ul id="featurednews">
          <%for(var i= mess.length-1 ; i>= mess.length-5;i--){%>
          <li><img src="<%= mess[i].image%>" style="width: 100px; height: 100px" alt="" />
            <div class="panel-overlay">
              <h2><%= mess[i].title%></h2>
              <p><%= mess[i].describe%><br />
                <a href="/news/<%= mess[i].idnews%>">Xem chi tiet &raquo;</a></p>
            </div>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
    <div class="column">
      <ul class="latestnews">
        <li><img src="<%= mess[mess.length-6].image%>" style="width: 100px; height: 100px" alt="" />
          <p><strong><a href="/news/<%= mess[mess.length-6].idnews%>"><%= mess[mess.length-6].title%></a></strong><%= mess[mess.length-6].describe%> </p>
        </li>
        <li><img src="<%= mess[mess.length-7].image%>" style="width: 100px; height: 100px" alt="" />
          <p><strong><a href="/news/<%= mess[mess.length-7].idnews%>"><%= mess[mess.length-7].title%></a></strong><%= mess[mess.length-7].describe%></p>
        </li>
        <li class="last"><img src="<%= mess[mess.length-8].image%>" style="width: 100px; height: 100px" alt="" />
          <p><strong><a href="/news/<%= mess[mess.length-8].idnews%>"><%= mess[mess.length-8].title%></a></strong> <%= mess[mess.length-8].describe%></p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="adblock">
    <div class="fl_left"><a href="#"><img src="http://www.fragment7.com/feb-welcome-bonus/468x60.gif" style="width: 468px; height: 60px" alt="" /></a></div>
    <div class="fl_right"><a href="#"><img src="https://media.giphy.com/media/taU3S99hRDg4g/200.gif" style="width: 468px; height: 60px" alt="" /></a></div>
    <br class="clear" />
  </div>
  <div id="hpage_cats">
    <div class="fl_left">
      <h2><a href="#"><%= mess[mess.length-9].type%> &raquo;</a></h2>
      <img src="<%= mess[mess.length-9].image%>" style="width: 100px; height: 100px" alt="" />
      <p><strong><a href="/news/<%= mess[mess.length-9].idnews%>"><%= mess[mess.length-9].title%></a></strong></p>
      <p><%= mess[mess.length-9].describe%></p>
    </div>
    <div class="fl_right">
      <h2><a href="#"><%= mess[mess.length-10].type%> &raquo;</a></h2>
      <img src="<%= mess[mess.length-10].image%>" style="width: 100px; height: 100px" alt="" />
      <p><strong><a href="/news/<%= mess[mess.length-10].idnews%>"><%= mess[mess.length-10].title%></a></strong></p>
      <p><%= mess[mess.length-10].describe%></p>
    </div>
    <br class="clear" />
    <div class="fl_left">
      <h2><a href="#"><%= mess[mess.length-11].type%> &raquo;</a></h2>
      <img src="<%= mess[mess.length-11].image%>" style="width: 100px; height: 100px" alt="" />
      <p><strong><a href="/news/<%= mess[mess.length-11].idnews%>"><%= mess[mess.length-11].title%></a></strong></p>
      <p><%= mess[mess.length-11].describe%></p>
    </div>
    <div class="fl_right">
      <h2><a href="#"><%= mess[mess.length-12].type%> &raquo;</a></h2>
      <img src="<%= mess[mess.length-12].image%>" style="width: 100px; height: 100px" alt="" />
      <p><strong><a href="/news/<%= mess[mess.length-12].idnews%>"><%= mess[mess.length-12].title%></a></strong></p>
      <p><%= mess[mess.length-12].describe%></p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="hpage_latest">
        <h2>Feugiatrutrum rhoncus semper</h2>
        <ul>
          <li><img src="<%= mess[mess.length-13].image%>" style="width: 190px; height: 130px" alt="" />
            <p><strong><%= mess[mess.length-13].title%></strong></p>
            <p><%= mess[mess.length-13].describe%></p>
            <p class="readmore"><a href="/news/<%= mess[mess.length-13].idnews%>">Xem chi tiet &raquo;</a></p>
          </li>
          <li><img src="<%= mess[mess.length-14].image%>" style="width: 190px; height: 130px" alt="" />
            <p><strong><%= mess[mess.length-14].title%></strong></p>
            <p><%= mess[mess.length-14].describe%></p>
            <p class="readmore"><a href="/news/<%= mess[mess.length-14].idnews%>">Xem chi tiet &raquo;</a></p>
          </li>
          <li class="last"><img src="<%= mess[mess.length-15].image%>" style="width: 190px; height: 130px" alt="" />
            <p><strong><%= mess[mess.length-15].title%></strong></p>
            <p><%= mess[mess.length-15].describe%></p>
            <p class="readmore"><a href="/news/<%= mess[mess.length-15].idnews%>">Xem chi tiet &raquo;</a></p>
          </li>
        </ul>
        <br class="clear" />
      </div>
    </div>
    <div class="column">
      <div class="holder"><a href="#"><img src="https://www.bannersmall.com/wp-content/uploads/2018/02/port-gif300250-00005.gif"style="width: 300px; height: 250px" alt="" /></a></div>
      <div class="holder"><a href="#"><img src="http://www.performancespace.com.au/wp-content/uploads/2016/01/buy-tickets-button-1024x274.gif"style="width: 300px; height: 80px" alt="" /></a></div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer">
    <div class="footbox">
      <h2>Du lịch</h2>
      <ul>
        <li><a href="#">Vinh Ha Long</a></li>
        <li><a href="#">Nha trang</a></li>
        <li><a href="#">Vung tau</a></li>
        <li><a href="#">Phan thiết</a></li>
        <li><a href="#">Kiên giang</a></li>
        <li class="last"><a href="#">Hà tiên</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Thể thao</h2>
      <ul>
        <li><a href="#">Bóng đá</a></li>
        <li><a href="#">Cầu lông</a></li>
        <li><a href="#">Quần vợt</a></li>
        <li><a href="#">Bơi lội</a></li>
        <li><a href="#">Bóng rổ</a></li>
        <li class="last"><a href="#">Bida</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Sức khoỏe</h2>
      <ul>
        <li><a href="#">Phụ nữ trước khi sinh</a></li>
        <li><a href="#">Phụ nữ u khi sinh</a></li>
        <li><a href="#">Trẻ sơ sinh</a></li>
        <li><a href="#">Trẻ nhỏ</a></li>
        <li><a href="#">Người cao tuôi</a></li>
        <li class="last"><a href="#">Trung niên</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>Tin hot</h2>
      <ul>
        <li><a href="#">Lâm tặc</a></li>
        <li><a href="#">Ma túy</a></li>
        <li><a href="#">Cờ bạc</a></li>
        <li><a href="#">Hàng đá</a></li>
        <li><a href="#">Du đảng</a></li>
        <li class="last"><a href="#">Bắt cóc</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="socialise">
    <ul>
      <li><a href="#"><img src="/layout/images/facebook.gif" alt="" /><span>Facebook</span></a></li>
      <li><a href="#"><img src="/layout/images/rss.gif" alt="" /><span>FeedBurner</span></a></li>
      <li class="last"><a href="#"><img src="/layout/images/twitter.gif" alt="" /><span>Twitter</span></a></li>
    </ul>
    <div id="newsletter">
      <h2>NewsLetter Sign Up !</h2>
      <p>Please enter your Email and Name to join.</p>
      <form action="#" method="get">
        <fieldset>
          <legend>Digital Newsletter</legend>
          <div class="fl_left">
            <input type="text" value="Enter name here&hellip;"  onfocus="this.value=(this.value=='Enter name here&hellip;')? '' : this.value ;" />
            <input type="text" value="Enter email address&hellip;"  onfocus="this.value=(this.value=='Enter email address&hellip;')? '' : this.value ;" />
          </div>
          <div class="fl_right">
            <input type="button" name="newsletter_go" id="newsletter_go" value="&raquo;" />
          </div>
        </fieldset>
      </form>
      <p>To unsubsribe please <a href="#">click here &raquo;</a>.</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- Load Facebook SDK for JavaScript -->
<!-- <script src="https://dochat.vn/code.js?id=9190508093925615313"></script> -->
<!-- ####################################################################################################### -->
<div class="wrapper col8">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
