<!DOCTYPE html PUBLIC >
<!--
Template Name: News Magazine
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>News Magazine</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/layout/styles/layout.css"  rel="stylesheet">

<script type="text/javascript" src="/layout/scripts/jquery.min.js" ></script>
<!-- Homepage Specific -->
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.easing.1.3.js" ></script>
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.timers.1.2.js" ></script>
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.galleryview.2.1.1.min.js" ></script>
<script type="text/javascript" src="/layout/scripts/galleryviewthemes/jquery.galleryview.setup.js" ></script>
<!--  Homepage Specific -->
</head>
<body id="top">
<div class="wrapper col0">
  <div id="topline">
    <p>Tel: 0123 456789 | Mail: liemhung@domain.com</p>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="header">
    <div class="fl_left">
      <h1><a href="index.html"><strong>N</strong>ews <strong>M</strong>agazine</a></h1>
      <p>Free Website News</p>
    </div>
    <div class="fl_right"><a href="#"><img src="/images/demo/468x60.gif"  alt="" /></a></div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="/">Trang chủ</a></li>
        <li><a href="/types/<%= type[0].idtype%>"><%= type[0].name%></a></li>
        <li><a href="/types/<%= type[1].idtype%>"><%= type[1].name%></a></li>
        <li><a href="/types/<%= type[2].idtype%>"><%= type[2].name%></a></li>
        <li class="last"><a href="#">Them</a>
          <ul>
            <li><a href="/types/<%= type[3].idtype%>"><%= type[3].name%></a></li>
            <li><a href="/types/<%= type[4].idtype%>"><%= type[4].name%></a></li>
            <li><a href="/types/<%= type[5].idtype%>"><%= type[5].name%></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Tim kiem" />
        </fieldset>
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div class="container">
    <div class="content">
      <div id="featured_slide">
        <ul id="featurednews">
          <%for(var i= mess.length-1 ; i>= mess.length-5;i--){%>
          <li><img src="<%= mess[i].image%>" style="width: 100px; height: 100px" alt="" />
            <div class="panel-overlay">
              <h2><%= mess[i].title%></h2>
              <p><%= mess[i].describe%><br />
                <a href="/news/<%= mess[i].idnews%>">Xem chi tiet &raquo;</a></p>
            </div>
          </li>
          <%}%>
        </ul>
      </div>
    </div>
    <div class="column">
      <ul class="latestnews">
        <li><img src="<%= mess[mess.length-3].image%>" style="width: 100px; height: 100px" alt="" />
          <p><strong><a href="/news/<%= mess[mess.length-3].idnews%>"><%= mess[mess.length-3].title%></a></strong><%= mess[mess.length-3].describe%> </p>
        </li>
        <li><img src="<%= mess[mess.length-2].image%>" style="width: 100px; height: 100px" alt="" />
          <p><strong><a href="/news/<%= mess[mess.length-2].idnews%>"><%= mess[mess.length-2].title%></a></strong><%= mess[mess.length-2].describe%></p>
        </li>
        <li class="last"><img src="<%= mess[mess.length-4].image%>" style="width: 100px; height: 100px" alt="" />
          <p><strong><a href="/news/<%= mess[mess.length-4].idnews%>"><%= mess[mess.length-4].title%></a></strong> <%= mess[mess.length-4].describe%></p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="adblock">
    <div class="fl_left"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    <div class="fl_right"><a href="#"><img src="images/demo/468x60.gif" alt="" /></a></div>
    <br class="clear" />
  </div>
  <div id="hpage_cats">
    <%for (var key in mess){%>
    <%if (key % 2 == 0) {%>
    <div class="fl_left">
      <img src="<%= mess[key].image%>" style="width: 100px; height: 100px" alt="" />
      <p><strong><a href="/news/<%= mess[key].idnews%>"><%= mess[key].title%></a></strong></p>
      <p><%= mess[key].describe%></p>
    </div>
    <%} else {%>
    <div class="fl_right">
      <img src="<%= mess[key].image%>" style="width: 100px; height: 100px" alt="" />
      <p><strong><a href="/news/<%= mess[key].idnews%>"><%= mess[key].title%></a></strong></p>
      <p><%= mess[key].describe%></p>
    </div>
    <br class="clear" />
    <%}}%>
    <br class="clear" />
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer">
    <div class="footbox">
      <h2>Du lịch</h2>
      <ul>
        <li><a href="#">Vinh Ha Long</a></li>
        <li><a href="#">Nha trang</a></li>
        <li><a href="#">Vung tau</a></li>
        <li><a href="#">Phan thiết</a></li>
        <li><a href="#">Kiên giang</a></li>
        <li class="last"><a href="#">Hà tiên</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="socialise">
    <ul>
      <li><a href="#"><img src="/layout/images/facebook.gif"  alt="" /><span>Facebook</span></a></li>
      <li><a href="#"><img src="/layout/images/rss.gif"  alt="" /><span>FeedBurner</span></a></li>
      <li class="last"><a href="#"><img src="/layout/images/twitter.gif"  alt="" /><span>Twitter</span></a></li>
    </ul>
    <div id="newsletter">
      <h2>NewsLetter Sign Up !</h2>
      <p>Please enter your Email and Name to join.</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Digital Newsletter</legend>
          <div class="fl_left">
            <input type="text" value="Enter name here&hellip;"  onfocus="this.value=(this.value=='Enter name here&hellip;')? '' : this.value ;" />
            <input type="text" value="Enter email address&hellip;"  onfocus="this.value=(this.value=='Enter email address&hellip;')? '' : this.value ;" />
          </div>
          <div class="fl_right">
            <input type="submit" name="newsletter_go" id="newsletter_go" value="&raquo;" />
          </div>
        </fieldset>
      </form>
      <p>To unsubsribe please <a href="#">click here &raquo;</a>.</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col8">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
